In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

import chardet
from bs4 import UnicodeDammit

In [67]:
data_encodings = []

with open("Data\credit_train.csv", 'rb') as f:
    rawdata = b''.join([f.readline() for _ in range(1000)])
    data_encodings.append(chardet.detect(rawdata)['encoding'])
    data_encodings.append(UnicodeDammit(rawdata).original_encoding)
       
print(f"Кодировка исходного файла: {data_encodings}")

Кодировка исходного файла: ['KOI8-R', 'koi8-r']

Однако, кодировка KOI8-R не подходит для корректного открытия файла, поэтому было решено проверить наиболее распространенные кодировки для файлов, содержащих кириллицу.

In [69]:
data_encodings.extend(['utf-16','CP866', 'Windows-1251', 'utf-8', 'cp1251'])

In [72]:
file_encoding = ''
for encoding in data_encodings:
    try:
        with pd.read_csv("Data\credit_train.csv", encoding=encoding, sep=";", index_col='client_id', iterator=True) as reader:
            print('--------------------------------')
            print(f'Кодировка: {encoding}')
            print(reader.get_chunk(5))
            print('--------------------------------\n')
        if input("Если кодировка верна, введи 'верно' >>>>  ") == 'верно':
            file_encoding = encoding
    except UnicodeDecodeError:
        print(f'Кодировка: {encoding} не подходит!')

--------------------------------
Кодировка: KOI8-R
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   йпюямндюпяйхи йпюи         30000.0
2                1.1       NaN       NaN               лняйбю             NaN
3                1.1       NaN       NaN      нак яюпюрнбяйюъ             NaN
4                1.1       NaN       NaN    нак бнкцнцпюдяйюъ             NaN
5                1.1  0,421385       SCH  векъахмяйюъ накюярэ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
--------------------------------
Кодировка: koi8-r
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   йпюямндюпяйхи йпюи         30000.0
2                1.1       NaN       NaN               лняйбю             NaN
3                1.1       NaN       NaN      нак яюпюрнбяйюъ             NaN
4                1.1       NaN       NaN    нак бнкцнцпюдяйюъ             NaN
5                1.1  0,421385       SCH  векъахмяйюъ накюярэ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
Кодировка: utf-16 не подходит!
--------------------------------
Кодировка: CP866
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   ╩╨└╤═╬─└╨╤╩╚╔ ╩╨└╔         30000.0
2                1.1       NaN       NaN               ╠╬╤╩┬└             NaN
3                1.1       NaN       NaN      ╬┴╦ ╤└╨└╥╬┬╤╩└▀             NaN
4                1.1       NaN       NaN    ╬┴╦ ┬╬╦├╬├╨└─╤╩└▀             NaN
5                1.1  0,421385       SCH  ╫┼╦▀┴╚═╤╩└▀ ╬┴╦└╤╥▄             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
--------------------------------
Кодировка: Windows-1251
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   КРАСНОДАРСКИЙ КРАЙ         30000.0
2                1.1       NaN       NaN               МОСКВА             NaN
3                1.1       NaN       NaN      ОБЛ САРАТОВСКАЯ             NaN
4                1.1       NaN       NaN    ОБЛ ВОЛГОГРАДСКАЯ             NaN
5                1.1  0,421385       SCH  ЧЕЛЯБИНСКАЯ ОБЛАСТЬ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
Кодировка: utf-8 не подходит!
--------------------------------
Кодировка: cp1251
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   КРАСНОДАРСКИЙ КРАЙ         30000.0
2                1.1       NaN       NaN               МОСКВА             NaN
3                1.1       NaN       NaN      ОБЛ САРАТОВСКАЯ             NaN
4                1.1       NaN       NaN    ОБЛ ВОЛГОГРАДСКАЯ             NaN
5                1.1  0,421385       SCH  ЧЕЛЯБИНСКАЯ ОБЛАСТЬ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'верно

In [75]:
init_data = pd.read_csv("Data\credit_train.csv", encoding=file_encoding, sep=";", index_col='client_id')
init_data.head(5)

,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
client_id,,,,,,,,,,,,,,
1,M,NaN,NaN,UMN,"59998,00",10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
2,F,NaN,MAR,UMN,"10889,00",6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
3,M,32.0,MAR,SPC,"10728,00",12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
4,F,27.0,NaN,SPC,"12009,09",12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
5,M,45.0,NaN,SPC,NaN,10,1.1,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0