In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

import chardet
from bs4 import UnicodeDammit

import re

# Считывание данных в формате .csv в DataFrame

In [67]:
data_encodings = []

with open("Data\credit_train.csv", 'rb') as f:
    rawdata = b''.join([f.readline() for _ in range(1000)])
    data_encodings.append(chardet.detect(rawdata)['encoding'])
    data_encodings.append(UnicodeDammit(rawdata).original_encoding)
       
print(f"Кодировка исходного файла: {data_encodings}")

Кодировка исходного файла: ['KOI8-R', 'koi8-r']

Однако, кодировка KOI8-R не подходит для корректного открытия файла, поэтому было решено проверить наиболее распространенные кодировки для файлов, содержащих кириллицу.

In [69]:
data_encodings.extend(['utf-16','CP866', 'Windows-1251', 'utf-8', 'cp1251'])

In [72]:
file_encoding = ''
for encoding in data_encodings:
    try:
        with pd.read_csv("Data\credit_train.csv", encoding=encoding, sep=";", index_col='client_id', iterator=True) as reader:
            print('--------------------------------')
            print(f'Кодировка: {encoding}')
            print(reader.get_chunk(5))
            print('--------------------------------\n')
        if input("Если кодировка верна, введи 'верно' >>>>  ") == 'верно':
            file_encoding = encoding
    except UnicodeDecodeError:
        print(f'Кодировка: {encoding} не подходит!')

--------------------------------
Кодировка: KOI8-R
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   йпюямндюпяйхи йпюи         30000.0
2                1.1       NaN       NaN               лняйбю             NaN
3                1.1       NaN       NaN      нак яюпюрнбяйюъ             NaN
4                1.1       NaN       NaN    нак бнкцнцпюдяйюъ             NaN
5                1.1  0,421385       SCH  векъахмяйюъ накюярэ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
--------------------------------
Кодировка: koi8-r
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   йпюямндюпяйхи йпюи         30000.0
2                1.1       NaN       NaN               лняйбю             NaN
3                1.1       NaN       NaN      нак яюпюрнбяйюъ             NaN
4                1.1       NaN       NaN    нак бнкцнцпюдяйюъ             NaN
5                1.1  0,421385       SCH  векъахмяйюъ накюярэ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
Кодировка: utf-16 не подходит!
--------------------------------
Кодировка: CP866
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   ╩╨└╤═╬─└╨╤╩╚╔ ╩╨└╔         30000.0
2                1.1       NaN       NaN               ╠╬╤╩┬└             NaN
3                1.1       NaN       NaN      ╬┴╦ ╤└╨└╥╬┬╤╩└▀             NaN
4                1.1       NaN       NaN    ╬┴╦ ┬╬╦├╬├╨└─╤╩└▀             NaN
5                1.1  0,421385       SCH  ╫┼╦▀┴╚═╤╩└▀ ╬┴╦└╤╥▄             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
--------------------------------
Кодировка: Windows-1251
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   КРАСНОДАРСКИЙ КРАЙ         30000.0
2                1.1       NaN       NaN               МОСКВА             NaN
3                1.1       NaN       NaN      ОБЛ САРАТОВСКАЯ             NaN
4                1.1       NaN       NaN    ОБЛ ВОЛГОГРАДСКАЯ             NaN
5                1.1  0,421385       SCH  ЧЕЛЯБИНСКАЯ ОБЛАСТЬ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'
Кодировка: utf-8 не подходит!
--------------------------------
Кодировка: cp1251
          gender   age marital_status job_position credit_sum  credit_month  \
client_id
1              M   NaN            NaN          UMN   59998,00            10
2              F   NaN            MAR          UMN   10889,00             6
3              M  32.0            MAR          SPC   10728,00            12
4              F  27.0            NaN          SPC   12009,09            12
5              M  45.0            NaN          SPC        NaN            10

           tariff_id score_shk education        living_region  monthly_income  \
client_id
1                1.6       NaN       GRD   КРАСНОДАРСКИЙ КРАЙ         30000.0
2                1.1       NaN       NaN               МОСКВА             NaN
3                1.1       NaN       NaN      ОБЛ САРАТОВСКАЯ             NaN
4                1.1       NaN       NaN    ОБЛ ВОЛГОГРАДСКАЯ             NaN
5                1.1  0,421385       SCH  ЧЕЛЯБИНСКАЯ ОБЛАСТЬ             NaN

           credit_count  overdue_credit_count  open_account_flg
client_id
1                     1                     1                 0
2                     2                     0                 0
3                     5                     0                 0
4                     2                     0                 0
5                     1                     0                 0
--------------------------------

Если кодировка верна, введи 'верно'верно

In [195]:
init_data = pd.read_csv("Data\credit_train.csv", encoding=file_encoding, sep=";")
init_data.head(5)

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,NaN,NaN,UMN,"59998,00",10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,F,NaN,MAR,UMN,"10889,00",6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,3,M,32.0,MAR,SPC,"10728,00",12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,4,F,27.0,NaN,SPC,"12009,09",12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,5,M,45.0,NaN,SPC,NaN,10,1.1,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

In [196]:
print(f'Число наблюдений - {init_data.shape[0]}')
print(f'Число фичей (переменных) - {init_data.shape[1]}')

Число наблюдений - 170746
Число фичей (переменных) - 15

# Предварительная подготовка данных

## Удаление очевидных бесполезных переменных

В данном случае имеются ввиду переменные, у которых количество категорий совпадает с количеством наблюдений, или, наоборот, переменные с одним уникальным значением.

In [197]:
init_data.nunique()

client_id               170746
gender                       2
age                         54
marital_status               5
job_position                18
credit_sum               42769
credit_month                31
tariff_id                   32
score_shk                16279
education                    5
living_region              301
monthly_income            1591
credit_count                21
overdue_credit_count         4
open_account_flg             2
dtype: int64

Откинем столбец `client_id` поскольку он совпадает с номером наблюдения и не несет никакой предсказательной способности.

In [198]:
init_data.drop('client_id', inplace=True, axis=1)

In [199]:
init_data.head(5)

,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,M,NaN,NaN,UMN,"59998,00",10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,F,NaN,MAR,UMN,"10889,00",6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,M,32.0,MAR,SPC,"10728,00",12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,F,27.0,NaN,SPC,"12009,09",12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,M,45.0,NaN,SPC,NaN,10,1.1,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

## Преобразование типов данных

В данном разделе подразумевается преобразование типов данных к корректным, например, `credit_sum` в датасете имеет тип `object`, чего не должно быть. Также, часто переменные-флаги, такие как "наличие оттока", "наличие дефолта" и т.п. записываются как целочисленные значения.

In [200]:
init_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170746 entries, 0 to 170745
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                170746 non-null  object
 1   age                   170743 non-null  float64
 2   marital_status        170743 non-null  object
 3   job_position          170746 non-null  object
 4   credit_sum            170744 non-null  object
 5   credit_month          170746 non-null  int64
 6   tariff_id             170746 non-null  float64
 7   score_shk             170739 non-null  object
 8   education             170741 non-null  object
 9   living_region         170554 non-null  object
 10  monthly_income        170741 non-null  float64
 11  credit_count          161516 non-null  float64
 12  overdue_credit_count  161516 non-null  float64
 13  open_account_flg      170746 non-null  int64
dtypes: float64(5), int64(2), object(7)
memory usage: 18.2+ MB

In [201]:
for column in ['score_shk', 'credit_sum']:
    init_data[column] = init_data[column].str.replace(',', '.').astype('float')

In [202]:
for column in ['tariff_id', 'open_account_flg']:
    init_data[column] = init_data[column].astype('object')

In [203]:
init_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170746 entries, 0 to 170745
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                170746 non-null  object
 1   age                   170743 non-null  float64
 2   marital_status        170743 non-null  object
 3   job_position          170746 non-null  object
 4   credit_sum            170744 non-null  float64
 5   credit_month          170746 non-null  int64
 6   tariff_id             170746 non-null  object
 7   score_shk             170739 non-null  float64
 8   education             170741 non-null  object
 9   living_region         170554 non-null  object
 10  monthly_income        170741 non-null  float64
 11  credit_count          161516 non-null  float64
 12  overdue_credit_count  161516 non-null  float64
 13  open_account_flg      170746 non-null  object
dtypes: float64(6), int64(1), object(7)
memory usage: 18.2+ MB

In [204]:
init_data.head(5)

,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,M,NaN,NaN,UMN,59998.00,10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,F,NaN,MAR,UMN,10889.00,6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,M,32.0,MAR,SPC,10728.00,12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,F,27.0,NaN,SPC,12009.09,12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,M,45.0,NaN,SPC,NaN,10,1.1,0.421385,SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

## Нормализация строковых значений

В данный этап обработки данных входит удаление лишних символов, приведение строк к одному и тому же регистру.
В исследуемом датасете необходимо обработать колонку `living_region`, поскольку уже по нескольким первым записям видно, что вид регионов не стандартизован.

In [351]:
init_data['living_region'].nunique()

84

In [334]:
pd.options.display.max_rows = 310

In [ ]:
init_data['living_region'].value_counts(dropna=False).sort_index()

In [335]:
region_unique = init_data['living_region'].unique()
regions = pd.Series(data=region_unique, index=region_unique, name='regions')

In [336]:
region_stopwords = ['ОБЛ','ОБЛАСТЬ', 'РЕСП', 'РЕСПУБЛИКА', 'КРАЙ', 'Г', 'АО', 'АОБЛ', 'АВТОНОМНАЯ']

In [337]:
def clean_region(region : str, stopwords : list) -> str:
    """
    Deletes stopwords in the region string gained from the stopword-list.
    Returns the remained words joined without spaces.
    
    Keyword arguments:
    region -- name string of the region
    stopwords -- the list of words to be deleted from the region name
    """
    words = re.sub('[,.]+', ' ', str(region)).split(' ')
    cleaned_name = ''
    for word in words:
        if word not in stopwords:
            cleaned_name += word
    return cleaned_name

In [338]:
regions_normalized = regions.apply(clean_region, args=(region_stopwords,))

In [339]:
regions_normalized['ЧУКОТСКИЙ АO'] = 'ЧУКОТСКИЙ'
regions_normalized['ЧУВАШСКАЯ РЕСПУБЛИКА - ЧУВАШИЯ'] = 'ЧУВАШСКАЯ'
regions_normalized['ЧУВАШИЯ ЧУВАШСКАЯ РЕСПУБЛИКА -'] = 'ЧУВАШСКАЯ'
regions_normalized['ЧУВАШСКАЯ - ЧУВАШИЯ РЕСП'] = 'ЧУВАШСКАЯ'
regions_normalized['РЕСП ЧУВАШСКАЯ - ЧУВАШИЯ'] = 'ЧУВАШСКАЯ'
regions_normalized['ЧУВАШСКАЯ - ЧУВАШИЯ РЕСП'] = 'ЧУВАШСКАЯ'
regions_normalized['РЕСПУБЛИКАТАТАРСТАН'] = 'ТАТАРСТАН'
regions_normalized['ПРИВОЛЖСКИЙ ФЕДЕРАЛЬНЫЙ ОКРУГ'] = 'МОСКОВСКАЯ'
regions_normalized['ПЕРМСКАЯ ОБЛ'] = 'ПЕРМСКИЙ'
regions_normalized['ОРЁЛ'] = 'ОРЛОВСКАЯ'
regions_normalized['Г.ОДИНЦОВО МОСКОВСКАЯ ОБЛ'] = 'МОСКОВСКАЯ'
regions_normalized['МЫТИЩИНСКИЙ Р-Н'] = 'МОСКОВСКАЯ'
regions_normalized['МОСКОВСКИЙ П'] = 'МОСКОВСКАЯ'
regions_normalized['КАМЧАТСКАЯ ОБЛАСТЬ'] = 'КАМЧАТСКИЙ'
regions_normalized['ДАЛЬНИЙ ВОСТОК'] = 'МОСКОВСКАЯ'
regions_normalized['ДАЛЬНИЙВОСТОК'] = 'МОСКОВСКАЯ'
regions_normalized['ГУСЬ-ХРУСТАЛЬНЫЙ Р-Н'] = 'ВЛАДИМИРСКАЯ'
regions_normalized['ГОРЬКОВСКАЯ ОБЛ'] = 'НИЖЕГОРОДСКАЯ'
regions_normalized['ЭВЕНКИЙСКИЙ АО'] = 'КРАСНОЯРСКИЙ'
regions_normalized['ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА'] = 'ХАНТЫ-МАНСИЙСКИЙ'
regions_normalized['АО ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - Ю'] = 'ХАНТЫ-МАНСИЙСКИЙ'
regions_normalized['АО ХАНТЫ-МАНСИЙСКИЙ-ЮГРА'] = 'ХАНТЫ-МАНСИЙСКИЙ'
regions_normalized['СЕВ. ОСЕТИЯ - АЛАНИЯ'] = 'СЕВЕРНАЯОСЕТИЯ-АЛАНИЯ'
regions_normalized['РЕСП. САХА (ЯКУТИЯ)'] ='САХА/ЯКУТИЯ/'
regions_normalized['РЕСПУБЛИКА САХА'] = 'САХА/ЯКУТИЯ/'
regions_normalized['ДАЛЬНИЙВОСТОК'] = 'МОСКОВСКАЯ'
regions_normalized['САХА'] = 'САХА/ЯКУТИЯ/'
regions_normalized['98'] = 'САНКТ-ПЕТЕРБУРГ'
regions_normalized['74'] = 'ЧЕЛЯБИНСКАЯ'
regions_normalized['РОССИЯ'] = 'МОСКОВСКАЯ'
regions_normalized['МОСКВОСКАЯ'] = 'МОСКОВСКАЯ'
regions_normalized['МОСКВОСКАЯ ОБЛ'] = 'МОСКОВСКАЯ'
regions_normalized['ЧЕЛЯБИНСК'] = 'ЧЕЛЯБИНСКАЯ'
regions_normalized['Г. ЧЕЛЯБИНСК'] = 'ЧЕЛЯБИНСКАЯ'
regions_normalized['БРЯНСКИЙ'] = 'БРЯНСКАЯ'
regions_normalized[np.NaN] = np.NaN

In [340]:
regions_normalized.sort_index()

74                                                    ЧЕЛЯБИНСКАЯ
98                                                САНКТ-ПЕТЕРБУРГ
АДЫГЕЯ РЕСП                                                АДЫГЕЯ
АЛТАЙСКИЙ                                               АЛТАЙСКИЙ
АЛТАЙСКИЙ КРАЙ                                          АЛТАЙСКИЙ
АМУРСКАЯ ОБЛ                                             АМУРСКАЯ
АМУРСКАЯ ОБЛАСТЬ                                         АМУРСКАЯ
АО НЕНЕЦКИЙ                                              НЕНЕЦКИЙ
АО ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - Ю         ХАНТЫ-МАНСИЙСКИЙ
АО ХАНТЫ-МАНСИЙСКИЙ-ЮГРА                         ХАНТЫ-МАНСИЙСКИЙ
АО ЯМАЛО-НЕНЕЦКИЙ                                  ЯМАЛО-НЕНЕЦКИЙ
АОБЛ ЕВРЕЙСКАЯ                                          ЕВРЕЙСКАЯ
АРХАНГЕЛЬСКАЯ                                       АРХАНГЕЛЬСКАЯ
АРХАНГЕЛЬСКАЯ ОБЛ                                   АРХАНГЕЛЬСКАЯ
АРХАНГЕЛЬСКАЯ ОБЛАСТЬ                               АРХАНГЕЛЬСКАЯ
АСТРАХАНСКАЯ                                         АСТРАХАНСКАЯ
АСТРАХАНСКАЯ ОБЛ                                     АСТРАХАНСКАЯ
АСТРАХАНСКАЯ ОБЛАСТЬ                                 АСТРАХАНСКАЯ
БАШКОРТОСТАН                                         БАШКОРТОСТАН
БАШКОРТОСТАН РЕСП                                    БАШКОРТОСТАН
БЕЛГОРОДСКАЯ ОБЛ                                     БЕЛГОРОДСКАЯ
БЕЛГОРОДСКАЯ ОБЛАСТЬ                                 БЕЛГОРОДСКАЯ
БРЯНСКАЯ ОБЛ                                             БРЯНСКАЯ
БРЯНСКАЯ ОБЛАСТЬ                                         БРЯНСКАЯ
БРЯНСКИЙ                                                 БРЯНСКАЯ
БУРЯТИЯ                                                   БУРЯТИЯ
БУРЯТИЯ РЕСП                                              БУРЯТИЯ
ВЛАДИМИРСКАЯ ОБЛ                                     ВЛАДИМИРСКАЯ
ВЛАДИМИРСКАЯ ОБЛАСТЬ                                 ВЛАДИМИРСКАЯ
ВОЛГОГРАДСКАЯ ОБЛ                                   ВОЛГОГРАДСКАЯ
ВОЛГОГРАДСКАЯ ОБЛАСТЬ                               ВОЛГОГРАДСКАЯ
ВОЛОГОДСКАЯ                                           ВОЛОГОДСКАЯ
ВОЛОГОДСКАЯ ОБЛ                                       ВОЛОГОДСКАЯ
ВОЛОГОДСКАЯ ОБЛ.                                      ВОЛОГОДСКАЯ
ВОЛОГОДСКАЯ ОБЛАСТЬ                                   ВОЛОГОДСКАЯ
ВОРОНЕЖСКАЯ ОБЛ                                       ВОРОНЕЖСКАЯ
ВОРОНЕЖСКАЯ ОБЛАСТЬ                                   ВОРОНЕЖСКАЯ
Г МОСКВА                                                   МОСКВА
Г. МОСКВА                                                  МОСКВА
Г. САНКТ-ПЕТЕРБУРГ                                САНКТ-ПЕТЕРБУРГ
Г. ЧЕЛЯБИНСК                                          ЧЕЛЯБИНСКАЯ
Г.МОСКВА                                                   МОСКВА
Г.ОДИНЦОВО МОСКОВСКАЯ ОБЛ                              МОСКОВСКАЯ
ГОРЬКОВСКАЯ ОБЛ                                     НИЖЕГОРОДСКАЯ
ГУСЬ-ХРУСТАЛЬНЫЙ Р-Н                                 ВЛАДИМИРСКАЯ
ДАГЕСТАН РЕСП                                            ДАГЕСТАН
ДАЛЬНИЙ ВОСТОК                                         МОСКОВСКАЯ
ДАЛЬНИЙВОСТОК                                          МОСКОВСКАЯ
ЕВРЕЙСКАЯ АВТОНОМНАЯ                                    ЕВРЕЙСКАЯ
ЕВРЕЙСКАЯ АОБЛ                                          ЕВРЕЙСКАЯ
ЗАБАЙКАЛЬСКИЙ КРАЙ                                  ЗАБАЙКАЛЬСКИЙ
ИВАНОВСКАЯ ОБЛ                                         ИВАНОВСКАЯ
ИВАНОВСКАЯ ОБЛАСТЬ                                     ИВАНОВСКАЯ
ИНГУШЕТИЯ РЕСП                                          ИНГУШЕТИЯ
ИРКУТСКАЯ ОБЛ                                           ИРКУТСКАЯ
ИРКУТСКАЯ ОБЛАСТЬ                                       ИРКУТСКАЯ
КАБАРДИНО-БАЛКАРСКАЯ                         КАБАРДИНО-БАЛКАРСКАЯ
КАБАРДИНО-БАЛКАРСКАЯ РЕСП                    КАБАРДИНО-БАЛКАРСКАЯ
КАЛИНИНГРАДСКАЯ ОБЛ                               КАЛИНИНГРАДСКАЯ
КАЛИНИНГРАДСКАЯ ОБЛ.                              КАЛИНИНГРАДСКАЯ
КАЛМЫКИЯ                                                 КАЛМЫКИЯ
КАЛМЫКИЯ РЕСП                                            КАЛМЫКИЯ
КАЛУЖСКАЯ                                               КАЛУЖСКАЯ
КАЛУЖСКАЯ ОБЛ                                           КАЛУЖСКАЯ
КАЛУЖСКАЯ ОБЛАСТЬ                                       КАЛУЖСКАЯ
КАМЧАТСКАЯ ОБЛАСТЬ                                     КАМЧАТСКИЙ
КАМЧАТСКИЙ КРАЙ                                        КАМЧАТСКИЙ
КАРАЧАЕВО-ЧЕРКЕССКАЯ                         КАРАЧАЕВО-ЧЕРКЕССКАЯ
КАРАЧАЕВО-ЧЕРКЕССКАЯ РЕСП                    КАРАЧАЕВО-ЧЕРКЕССКАЯ
КАРЕЛИЯ                                                   КАРЕЛИЯ
КАРЕЛИЯ РЕСП                                              КАРЕЛИЯ
КЕМЕРОВСКАЯ                                           КЕМЕРОВСКАЯ
КЕМЕРОВСКАЯ ОБЛ                                       КЕМЕРОВСКАЯ
КЕМЕРОВСКАЯ ОБЛАСТЬ                                   КЕМЕРОВСКАЯ
КИРОВСКАЯ ОБЛ                                           КИРОВСКАЯ
КИРОВСКАЯ ОБЛАСТЬ                                       КИРОВСКАЯ
КОМИ                                                         КОМИ
КОМИ РЕСП                                                    КОМИ
КОСТРОМСКАЯ ОБЛ                                       КОСТРОМСКАЯ
КОСТРОМСКАЯ ОБЛАСТЬ                                   КОСТРОМСКАЯ
КРАЙ АЛТАЙСКИЙ                                          АЛТАЙСКИЙ
КРАЙ ЗАБАЙКАЛЬСКИЙ                                  ЗАБАЙКАЛЬСКИЙ
КРАЙ КАМЧАТСКИЙ                                        КАМЧАТСКИЙ
КРАЙ КРАСНОДАРСКИЙ                                  КРАСНОДАРСКИЙ
КРАЙ КРАСНОЯРСКИЙ                                    КРАСНОЯРСКИЙ
КРАЙ ПЕРМСКИЙ                                            ПЕРМСКИЙ
КРАЙ ПРИМОРСКИЙ                                        ПРИМОРСКИЙ
КРАЙ СТАВРОПОЛЬСКИЙ                                СТАВРОПОЛЬСКИЙ
КРАЙ ХАБАРОВСКИЙ                                      ХАБАРОВСКИЙ
КРАЙ. КРАСНОЯРСКИЙ                                   КРАСНОЯРСКИЙ
КРАЙ. ПЕРМСКИЙ                                           ПЕРМСКИЙ
КРАЙ. СТАВРОПОЛЬСКИЙ                               СТАВРОПОЛЬСКИЙ
КРАЙ.ПЕРМСКИЙ                                            ПЕРМСКИЙ
КРАСНОДАРСКИЙ                                       КРАСНОДАРСКИЙ
КРАСНОДАРСКИЙ КРАЙ                                  КРАСНОДАРСКИЙ
КРАСНОЯРСКИЙ КРАЙ                                    КРАСНОЯРСКИЙ
КУРГАНСКАЯ ОБЛ                                         КУРГАНСКАЯ
КУРГАНСКАЯ ОБЛАСТЬ                                     КУРГАНСКАЯ
КУРСКАЯ ОБЛ                                               КУРСКАЯ
КУРСКАЯ ОБЛАСТЬ                                           КУРСКАЯ
ЛЕНИНГРАДСКАЯ                                       ЛЕНИНГРАДСКАЯ
ЛЕНИНГРАДСКАЯ ОБЛ                                   ЛЕНИНГРАДСКАЯ
ЛЕНИНГРАДСКАЯ ОБЛАСТЬ                               ЛЕНИНГРАДСКАЯ
ЛИПЕЦКАЯ ОБЛ                                             ЛИПЕЦКАЯ
ЛИПЕЦКАЯ ОБЛАСТЬ                                         ЛИПЕЦКАЯ
МАГАДАНСКАЯ ОБЛАСТЬ                                   МАГАДАНСКАЯ
МАРИЙ ЭЛ РЕСП                                             МАРИЙЭЛ
МОРДОВИЯ РЕСП                                            МОРДОВИЯ
МОСКВА                                                     МОСКВА
МОСКВА Г                                                   МОСКВА
МОСКВОСКАЯ                                             МОСКОВСКАЯ
МОСКВОСКАЯ ОБЛ                                         МОСКОВСКАЯ
МОСКОВСКАЯ                                             МОСКОВСКАЯ
МОСКОВСКАЯ ОБЛ                                         МОСКОВСКАЯ
МОСКОВСКАЯ ОБЛАСТЬ                                     МОСКОВСКАЯ
МОСКОВСКИЙ П                                           МОСКОВСКАЯ
МУРМАНСКАЯ ОБЛ                                         МУРМАНСКАЯ
МУРМАНСКАЯ ОБЛАСТЬ                                     МУРМАНСКАЯ
МЫТИЩИНСКИЙ Р-Н                                        МОСКОВСКАЯ
НЕНЕЦКИЙ АО                                              НЕНЕЦКИЙ
НИЖЕГОРОДСКАЯ ОБЛ                                   НИЖЕГОРОДСКАЯ
НИЖЕГОРОДСКАЯ ОБЛАСТЬ                               НИЖЕГОРОДСКАЯ
НОВГОРОДСКАЯ ОБЛ                                     НОВГОРОДСКАЯ
НОВГОРОДСКАЯ ОБЛАСТЬ                                 НОВГОРОДСКАЯ
НОВОСИБИРСКАЯ                                       НОВОСИБИРСКАЯ
НОВОСИБИРСКАЯ ОБЛ                                   НОВОСИБИРСКАЯ
НОВОСИБИРСКАЯ ОБЛАСТЬ                               НОВОСИБИРСКАЯ
ОБЛ АМУРСКАЯ                                             АМУРСКАЯ
ОБЛ АРХАНГЕЛЬСКАЯ                                   АРХАНГЕЛЬСКАЯ
ОБЛ АСТРАХАНСКАЯ                                     АСТРАХАНСКАЯ
ОБЛ БЕЛГОРОДСКАЯ                                     БЕЛГОРОДСКАЯ
ОБЛ БРЯНСКАЯ                                             БРЯНСКАЯ
ОБЛ ВЛАДИМИРСКАЯ                                     ВЛАДИМИРСКАЯ
ОБЛ ВОЛГОГРАДСКАЯ                                   ВОЛГОГРАДСКАЯ
ОБЛ ВОЛОГОДСКАЯ                                       ВОЛОГОДСКАЯ
ОБЛ ВОРОНЕЖСКАЯ                                       ВОРОНЕЖСКАЯ
ОБЛ ИВАНОВСКАЯ                                         ИВАНОВСКАЯ
ОБЛ ИРКУТСКАЯ                                           ИРКУТСКАЯ
ОБЛ КАЛИНИНГРАДСКАЯ                               КАЛИНИНГРАДСКАЯ
ОБЛ КАЛУЖСКАЯ                                           КАЛУЖСКАЯ
ОБЛ КЕМЕРОВСКАЯ                                       КЕМЕРОВСКАЯ
ОБЛ КИРОВСКАЯ                                           КИРОВСКАЯ
ОБЛ КОСТРОМСКАЯ                                       КОСТРОМСКАЯ
ОБЛ КУРГАНСКАЯ                                         КУРГАНСКАЯ
ОБЛ КУРСКАЯ                                               КУРСКАЯ
ОБЛ ЛЕНИНГРАДСКАЯ                                   ЛЕНИНГРАДСКАЯ
ОБЛ ЛИПЕЦКАЯ                                             ЛИПЕЦКАЯ
ОБЛ МАГАДАНСКАЯ                                       МАГАДАНСКАЯ
ОБЛ МОСКОВСКАЯ                                         МОСКОВСКАЯ
ОБЛ МУРМАНСКАЯ                                         МУРМАНСКАЯ
ОБЛ НИЖЕГОРОДСКАЯ                                   НИЖЕГОРОДСКАЯ
ОБЛ НОВГОРОДСКАЯ                                     НОВГОРОДСКАЯ
ОБЛ НОВОСИБИРСКАЯ                                   НОВОСИБИРСКАЯ
ОБЛ ОМСКАЯ                                                 ОМСКАЯ
ОБЛ ОРЕНБУРГСКАЯ                                     ОРЕНБУРГСКАЯ
ОБЛ ОРЛОВСКАЯ                                           ОРЛОВСКАЯ
ОБЛ ПЕНЗЕНСКАЯ                                         ПЕНЗЕНСКАЯ
ОБЛ ПСКОВСКАЯ                                           ПСКОВСКАЯ
ОБЛ РОСТОВСКАЯ                                         РОСТОВСКАЯ
ОБЛ РЯЗАНСКАЯ                                           РЯЗАНСКАЯ
ОБЛ САМАРСКАЯ                                           САМАРСКАЯ
ОБЛ САРАТОВСКАЯ                                       САРАТОВСКАЯ
ОБЛ САХАЛИНСКАЯ                                       САХАЛИНСКАЯ
ОБЛ СВЕРДЛОВСКАЯ                                     СВЕРДЛОВСКАЯ
ОБЛ СМОЛЕНСКАЯ                                         СМОЛЕНСКАЯ
ОБЛ ТАМБОВСКАЯ                                         ТАМБОВСКАЯ
ОБЛ ТВЕРСКАЯ                                             ТВЕРСКАЯ
ОБЛ ТОМСКАЯ                                               ТОМСКАЯ
ОБЛ ТУЛЬСКАЯ                                             ТУЛЬСКАЯ
ОБЛ ТЮМЕНСКАЯ                                           ТЮМЕНСКАЯ
ОБЛ УЛЬЯНОВСКАЯ                                       УЛЬЯНОВСКАЯ
ОБЛ ЧЕЛЯБИНСКАЯ                                       ЧЕЛЯБИНСКАЯ
ОБЛ ЯРОСЛАВСКАЯ                                       ЯРОСЛАВСКАЯ
ОБЛ. БЕЛГОРОДСКАЯ                                    БЕЛГОРОДСКАЯ
ОБЛ. ВЛАДИМИРСКАЯ                                    ВЛАДИМИРСКАЯ
ОБЛ. КИРОВСКАЯ                                          КИРОВСКАЯ
ОБЛ. КУРГАНСКАЯ                                        КУРГАНСКАЯ
ОБЛ. ЛИПЕЦКАЯ                                            ЛИПЕЦКАЯ
ОБЛ. МУРМАНСКАЯ                                        МУРМАНСКАЯ
ОБЛ. НОВОСИБИРСКАЯ                                  НОВОСИБИРСКАЯ
ОБЛ. СВЕРДЛОВСКАЯ                                    СВЕРДЛОВСКАЯ
ОБЛ. ЧЕЛЯБИНСКАЯ                                      ЧЕЛЯБИНСКАЯ
ОБЛ.МОСКОВСКАЯ                                         МОСКОВСКАЯ
ОБЛ.НИЖЕГОРОДСКАЯ                                   НИЖЕГОРОДСКАЯ
ОБЛ.РОСТОВСКАЯ                                         РОСТОВСКАЯ
ОБЛ.САРАТОВСКАЯ                                       САРАТОВСКАЯ
ОМСКАЯ                                                     ОМСКАЯ
ОМСКАЯ ОБЛ                                                 ОМСКАЯ
ОМСКАЯ ОБЛАСТЬ                                             ОМСКАЯ
ОРЁЛ                                                    ОРЛОВСКАЯ
ОРЕНБУРГСКАЯ ОБЛ                                     ОРЕНБУРГСКАЯ
ОРЕНБУРГСКАЯ ОБЛАСТЬ                                 ОРЕНБУРГСКАЯ
ОРЛОВСКАЯ ОБЛ                                           ОРЛОВСКАЯ
ОРЛОВСКАЯ ОБЛАСТЬ                                       ОРЛОВСКАЯ
ПЕНЗЕНСКАЯ ОБЛ                                         ПЕНЗЕНСКАЯ
ПЕНЗЕНСКАЯ ОБЛАСТЬ                                     ПЕНЗЕНСКАЯ
ПЕРМСКАЯ ОБЛ                                             ПЕРМСКИЙ
ПЕРМСКИЙ                                                 ПЕРМСКИЙ
ПЕРМСКИЙ КРАЙ                                            ПЕРМСКИЙ
ПРИВОЛЖСКИЙ ФЕДЕРАЛЬНЫЙ ОКРУГ                          МОСКОВСКАЯ
ПРИМОРСКИЙ КРАЙ                                        ПРИМОРСКИЙ
ПСКОВСКАЯ ОБЛ                                           ПСКОВСКАЯ
ПСКОВСКАЯ ОБЛАСТЬ                                       ПСКОВСКАЯ
РЕСП АДЫГЕЯ                                                АДЫГЕЯ
РЕСП АЛТАЙ                                                  АЛТАЙ
РЕСП БАШКОРТОСТАН                                    БАШКОРТОСТАН
РЕСП БУРЯТИЯ                                              БУРЯТИЯ
РЕСП ДАГЕСТАН                                            ДАГЕСТАН
РЕСП ИНГУШЕТИЯ                                          ИНГУШЕТИЯ
РЕСП КАБАРДИНО-БАЛКАРСКАЯ                    КАБАРДИНО-БАЛКАРСКАЯ
РЕСП КАЛМЫКИЯ                                            КАЛМЫКИЯ
РЕСП КАРАЧАЕВО-ЧЕРКЕССКАЯ                    КАРАЧАЕВО-ЧЕРКЕССКАЯ
РЕСП КАРЕЛИЯ                                              КАРЕЛИЯ
РЕСП КОМИ                                                    КОМИ
РЕСП МАРИЙ ЭЛ                                             МАРИЙЭЛ
РЕСП МОРДОВИЯ                                            МОРДОВИЯ
РЕСП САХА /ЯКУТИЯ/                                   САХА/ЯКУТИЯ/
РЕСП СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ               СЕВЕРНАЯОСЕТИЯ-АЛАНИЯ
РЕСП ТАТАРСТАН                                          ТАТАРСТАН
РЕСП ТЫВА                                                    ТЫВА
РЕСП УДМУРТСКАЯ                                        УДМУРТСКАЯ
РЕСП ХАКАСИЯ                                              ХАКАСИЯ
РЕСП ЧЕЧЕНСКАЯ                                          ЧЕЧЕНСКАЯ
РЕСП ЧУВАШСКАЯ - ЧУВАШИЯ                                ЧУВАШСКАЯ
РЕСП. БАШКОРТОСТАН                                   БАШКОРТОСТАН
РЕСП. КОМИ                                                   КОМИ
РЕСП. САХА (ЯКУТИЯ)                                  САХА/ЯКУТИЯ/
РЕСП.БАШКОРТОСТАН                                    БАШКОРТОСТАН
РЕСПУБЛИКА АДЫГЕЯ                                          АДЫГЕЯ
РЕСПУБЛИКА АЛТАЙ                                            АЛТАЙ
РЕСПУБЛИКА БУРЯТИЯ                                        БУРЯТИЯ
РЕСПУБЛИКА ДАГЕСТАН                                      ДАГЕСТАН
РЕСПУБЛИКА КАЛМЫКИЯ                                      КАЛМЫКИЯ
РЕСПУБЛИКА КАРЕЛИЯ                                        КАРЕЛИЯ
РЕСПУБЛИКА КОМИ                                              КОМИ
РЕСПУБЛИКА МАРИЙ ЭЛ                                       МАРИЙЭЛ
РЕСПУБЛИКА МОРДОВИЯ                                      МОРДОВИЯ
РЕСПУБЛИКА САХА                                      САХА/ЯКУТИЯ/
РЕСПУБЛИКА ТАТАРСТАН                                    ТАТАРСТАН
РЕСПУБЛИКА ТЫВА                                              ТЫВА
РЕСПУБЛИКА ХАКАСИЯ                                        ХАКАСИЯ
РЕСПУБЛИКАТАТАРСТАН                                     ТАТАРСТАН
РОССИЯ                                                 МОСКОВСКАЯ
РОСТОВСКАЯ                                             РОСТОВСКАЯ
РОСТОВСКАЯ ОБЛ                                         РОСТОВСКАЯ
РОСТОВСКАЯ ОБЛАСТЬ                                     РОСТОВСКАЯ
РЯЗАНСКАЯ ОБЛ                                           РЯЗАНСКАЯ
РЯЗАНСКАЯ ОБЛАСТЬ                                       РЯЗАНСКАЯ
САМАРСКАЯ                                               САМАРСКАЯ
САМАРСКАЯ ОБЛ                                           САМАРСКАЯ
САМАРСКАЯ ОБЛАСТЬ                                       САМАРСКАЯ
САНКТ-ПЕТЕРБУРГ                                   САНКТ-ПЕТЕРБУРГ
САНКТ-ПЕТЕРБУРГ Г                                 САНКТ-ПЕТЕРБУРГ
САРАТОВСКАЯ ОБЛ                                       САРАТОВСКАЯ
САРАТОВСКАЯ ОБЛАСТЬ                                   САРАТОВСКАЯ
САХА                                                 САХА/ЯКУТИЯ/
САХА /ЯКУТИЯ/                                        САХА/ЯКУТИЯ/
САХА /ЯКУТИЯ/ РЕСП                                   САХА/ЯКУТИЯ/
САХАЛИНСКАЯ ОБЛ                                       САХАЛИНСКАЯ
САХАЛИНСКАЯ ОБЛАСТЬ                                   САХАЛИНСКАЯ
СВЕРДЛОВСКАЯ                                         СВЕРДЛОВСКАЯ
СВЕРДЛОВСКАЯ ОБЛ                                     СВЕРДЛОВСКАЯ
СВЕРДЛОВСКАЯ ОБЛАСТЬ                                 СВЕРДЛОВСКАЯ
СЕВ. ОСЕТИЯ - АЛАНИЯ                        СЕВЕРНАЯОСЕТИЯ-АЛАНИЯ
СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ РЕСП               СЕВЕРНАЯОСЕТИЯ-АЛАНИЯ
СМОЛЕНСКАЯ ОБЛ                                         СМОЛЕНСКАЯ
СМОЛЕНСКАЯ ОБЛАСТЬ                                     СМОЛЕНСКАЯ
СТАВРОПОЛЬСКИЙ                                     СТАВРОПОЛЬСКИЙ
СТАВРОПОЛЬСКИЙ КРАЙ                                СТАВРОПОЛЬСКИЙ
ТАМБОВСКАЯ ОБЛ                                         ТАМБОВСКАЯ
ТАМБОВСКАЯ ОБЛАСТЬ                                     ТАМБОВСКАЯ
ТАТАРСТАН РЕСП                                          ТАТАРСТАН
ТВЕРСКАЯ ОБЛ                                             ТВЕРСКАЯ
ТВЕРСКАЯ ОБЛАСТЬ                                         ТВЕРСКАЯ
ТОМСКАЯ                                                   ТОМСКАЯ
ТОМСКАЯ ОБЛ                                               ТОМСКАЯ
ТОМСКАЯ ОБЛАСТЬ                                           ТОМСКАЯ
ТУЛЬСКАЯ ОБЛ                                             ТУЛЬСКАЯ
ТУЛЬСКАЯ ОБЛАСТЬ                                         ТУЛЬСКАЯ
ТЫВА РЕСП                                                    ТЫВА
ТЮМЕНСКАЯ                                               ТЮМЕНСКАЯ
ТЮМЕНСКАЯ ОБЛ                                           ТЮМЕНСКАЯ
ТЮМЕНСКАЯ ОБЛАСТЬ                                       ТЮМЕНСКАЯ
УДМУРТСКАЯ РЕСП                                        УДМУРТСКАЯ
УДМУРТСКАЯ РЕСПУБЛИКА                                  УДМУРТСКАЯ
УЛЬЯНОВСКАЯ ОБЛ                                       УЛЬЯНОВСКАЯ
УЛЬЯНОВСКАЯ ОБЛАСТЬ                                   УЛЬЯНОВСКАЯ
ХАБАРОВСКИЙ КРАЙ                                      ХАБАРОВСКИЙ
ХАКАСИЯ                                                   ХАКАСИЯ
ХАКАСИЯ РЕСП                                              ХАКАСИЯ
ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА         ХАНТЫ-МАНСИЙСКИЙ
ХАНТЫ-МАНСИЙСКИЙ АО                              ХАНТЫ-МАНСИЙСКИЙ
ЧЕЛЯБИНСК                                             ЧЕЛЯБИНСКАЯ
ЧЕЛЯБИНСКАЯ ОБЛ                                       ЧЕЛЯБИНСКАЯ
ЧЕЛЯБИНСКАЯ ОБЛАСТЬ                                   ЧЕЛЯБИНСКАЯ
ЧЕЧЕНСКАЯ РЕСП                                          ЧЕЧЕНСКАЯ
ЧЕЧЕНСКАЯ РЕСПУБЛИКА                                    ЧЕЧЕНСКАЯ
ЧИТИНСКАЯ ОБЛ                                           ЧИТИНСКАЯ
ЧУВАШИЯ ЧУВАШСКАЯ РЕСПУБЛИКА -                          ЧУВАШСКАЯ
ЧУВАШСКАЯ - ЧУВАШИЯ РЕСП                                ЧУВАШСКАЯ
ЧУВАШСКАЯ РЕСП                                          ЧУВАШСКАЯ
ЧУВАШСКАЯ РЕСПУБЛИКА                                    ЧУВАШСКАЯ
ЧУВАШСКАЯ РЕСПУБЛИКА - ЧУВАШИЯ                          ЧУВАШСКАЯ

In [341]:
init_data['living_region'] = init_data['living_region'].map(regions_normalized)

In [350]:
init_data['living_region'].value_counts(dropna=False).sort_index()

АДЫГЕЯ                     554
АЛТАЙ                       54
АЛТАЙСКИЙ                  553
АМУРСКАЯ                   853
АРХАНГЕЛЬСКАЯ             1723
АСТРАХАНСКАЯ              2719
БАШКОРТОСТАН              6466
БЕЛГОРОДСКАЯ               750
БРЯНСКАЯ                   801
БУРЯТИЯ                   1643
ВЛАДИМИРСКАЯ              1547
ВОЛГОГРАДСКАЯ             2361
ВОЛОГОДСКАЯ               2605
ВОРОНЕЖСКАЯ               1723
ДАГЕСТАН                    69
ЕВРЕЙСКАЯ                  203
ЗАБАЙКАЛЬСКИЙ             1228
ИВАНОВСКАЯ                 944
ИНГУШЕТИЯ                   19
ИРКУТСКАЯ                 4323
КАБАРДИНО-БАЛКАРСКАЯ       637
КАЛИНИНГРАДСКАЯ            728
КАЛМЫКИЯ                   305
КАЛУЖСКАЯ                 1139
КАМЧАТСКИЙ                 412
КАРАЧАЕВО-ЧЕРКЕССКАЯ       576
КАРЕЛИЯ                    679
КЕМЕРОВСКАЯ               2890
КИРОВСКАЯ                  647
КОМИ                      1860
КОСТРОМСКАЯ                514
КРАСНОДАРСКИЙ             8355
КРАСНОЯРСКИЙ              3121
КУРГАНСКАЯ                1346
КУРСКАЯ                   1250
ЛЕНИНГРАДСКАЯ             3461
ЛИПЕЦКАЯ                   869
МАГАДАНСКАЯ                159
МАРИЙЭЛ                    700
МОРДОВИЯ                   717
МОСКВА                    9261
МОСКОВСКАЯ               12843
МУРМАНСКАЯ                1384
НЕНЕЦКИЙ                   172
НИЖЕГОРОДСКАЯ             3695
НОВГОРОДСКАЯ               745
НОВОСИБИРСКАЯ             2169
ОМСКАЯ                     934
ОРЕНБУРГСКАЯ              1308
ОРЛОВСКАЯ                  748
ПЕНЗЕНСКАЯ                 915
ПЕРМСКИЙ                  3614
ПРИМОРСКИЙ                1293
ПСКОВСКАЯ                  575
РОСТОВСКАЯ                4328
РЯЗАНСКАЯ                  728
САМАРСКАЯ                 5104
САНКТ-ПЕТЕРБУРГ           8303
САРАТОВСКАЯ               2282
САХА/ЯКУТИЯ/              1857
САХАЛИНСКАЯ                705
СВЕРДЛОВСКАЯ              7316
СЕВЕРНАЯОСЕТИЯ-АЛАНИЯ      379
СМОЛЕНСКАЯ                 994
СТАВРОПОЛЬСКИЙ            4617
ТАМБОВСКАЯ                1094
ТАТАРСТАН                 7667
ТВЕРСКАЯ                  1548
ТОМСКАЯ                    626
ТУЛЬСКАЯ                  1370
ТЫВА                       564
ТЮМЕНСКАЯ                 2405
УДМУРТСКАЯ                1094
УЛЬЯНОВСКАЯ                962
ХАБАРОВСКИЙ               1560
ХАКАСИЯ                    480
ХАНТЫ-МАНСИЙСКИЙ          4376
ЧЕЛЯБИНСКАЯ               5155
ЧЕЧЕНСКАЯ                   31
ЧИТИНСКАЯ                   17
ЧУВАШСКАЯ                  921
ЧУКОТСКИЙ                   32
ЯМАЛО-НЕНЕЦКИЙ            1954
ЯРОСЛАВСКАЯ                926
NaN                        192
Name: living_region, dtype: int64

In [352]:
init_data['living_region'].nunique()
# Согласно википедии в России 85 субъектов Российской Федерации

84

In [353]:
init_data.tail(10)

,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
170736,F,53.0,MAR,SPC,7769.00,12,1.1,0.346030,SCH,ИРКУТСКАЯ,10500.0,1.0,0.0,0
170737,M,42.0,MAR,SPC,23827.00,10,1.1,0.451455,SCH,КАЛУЖСКАЯ,70000.0,0.0,0.0,0
170738,M,26.0,UNM,SPC,22347.00,10,1.32,0.320288,SCH,САНКТ-ПЕТЕРБУРГ,85000.0,1.0,0.0,0
170739,F,32.0,MAR,SPC,15282.00,10,1.16,0.514811,GRD,САМАРСКАЯ,25000.0,2.0,0.0,0
170740,F,24.0,UNM,SPC,19818.00,12,1.6,0.624391,SCH,КРАСНОДАРСКИЙ,22000.0,1.0,0.0,0
170741,F,27.0,UNM,SPC,64867.00,12,1.1,0.535257,GRD,ТАТАРСТАН,40000.0,6.0,0.0,0
170742,F,24.0,MAR,SPC,17640.00,6,1.6,0.573287,SCH,САНКТ-ПЕТЕРБУРГ,30000.0,1.0,0.0,0
170743,F,31.0,UNM,SPC,27556.47,10,1.32,0.416098,GRD,ПРИМОРСКИЙ,40000.0,1.0,0.0,0
170744,F,53.0,DIV,PNA,6189.00,12,1.1,0.482595,SCH,ПЕНЗЕНСКАЯ,31000.0,2.0,0.0,0
170745,M,49.0,MAR,SPC,12787.00,10,1.1,0.316087,GRD,МОСКОВСКАЯ,40000.0,3.0,0.0,0